// created variables 

$primary-color: #9f1d21;
$secondary-color: #000;
$teritary-color: #fff;
$text-decoration: none;
$color-danger: #f00;


// Padding variables

$sc-padding-lv-1: 5px;
$sc-padding-lv-2: 10px;
$sc-padding-lv-3: 15px;
$sc-padding-lv-4: 20px;
$sc-padding-lv-5: 25px;