@import './Sass/_variables.scss';

.navbar-nav a {
  font-size: 18px;
}

.nav-link {
  color: $primary-color  !important;
}

.hero h5 {
  text-align: right;
  color: $teritary-color  !important;
}

.carrd {
  text-align: right;
  color: $teritary-color  !important;
}

.card-title {
  color: $primary-color;
}

.display-5 {
  color: $primary-color;
}

.mycart {
  font-size: 1.5rem;
  color: $secondary-color;
  margin-top: $sc-padding-lv-2;
  margin-left: $sc-padding-lv-2;
}

.cart-count {
  padding: 0 3px;
  background-color: $color-danger;
  color: $teritary-color;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -15px;
  font-size: 1rem;
}

.cart-sec {
  margin-top: $sc-padding-lv-5 * 2;
}

.my-pdp {
  margin-top: $sc-padding-lv-5 * 4;
}

.btm-border {
  border-bottom: 1px solid rgb(216, 213, 213);
  padding-top: $sc-padding-lv-2;
}

.pad {
  padding-right: $sc-padding-lv-4 * 2;
}

.empty-basket {
  color: $secondary-color;
}

.tear-icon {
    color: $primary-color;
  }


.check-btn {
  padding: 0 $sc-padding-lv-2;
}

